//https://ux.stackexchange.com/a/94699

$primary: black  
// $link: rgb(109,182,119)
// $info: rgb(36,255,36)
// $success: rgb(109,182,255)
// $warning: rgb(255,255,109)
// $danger: rgb(146,0,0)
// $text: rbg(0,0,0)
    
    
body, html
    margin: 0
    padding: 0
    height: 100%
    overflow-x: hidden
    overflow-y: auto
    -webkit-overflow-scrolling: touch;

#spark
    width: 100%
    height: 100%
    frameborder: 0
    position: absolute

.pagination-list
    list-style-type: none

i.glyphicon 
    display: none
.btn-add::after 
    content: 'Add'
.array-item-move-up::after 
    content: 'Move Up'
.array-item-move-down::after 
    content: 'Move Down'
.array-item-remove::after 
    content: 'Remove'

div.checkbox > label > span > span
    padding-left: 5px
    vertical-align: text-bottom

div.field-object:nth-child(2) > fieldset:nth-child(1) > legend:nth-child(1)
    display: none

div.form-group:nth-child(3) > fieldset:nth-child(1) > legend:nth-child(1)
    font-size: 1rem

.checkbox .radio 
    display: block
    line-heigh: 1.5

.spark-video 
    width: 85vw
    height: 85vh

.img
    object-fit: contain;
