language: node_js
node_js:
  - "12"
cache: npm
before_script:
  # https://stackoverflow.com/a/27410479
  # Disable services enabled by default
  # http://docs.travis-ci.com/user/database-setup/#MySQL
  - sudo /etc/init.d/mysql stop
  - sudo /etc/init.d/postgresql stop
script:
  - npm run test
  - npm run client:deploy:staging
after_script:
  - npm run dev:postgres:stop
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable
  keep_history: true
  on:
    branch: master